# gebodoc example_cv1 file
#
# Small CV for Donald Duck.

# Document information section, mandatory fields.
[document]

docname                   = CV_Donald_Duck
#doctemplatefile           = examples/example_cv1_template.txt
doctemplatefile           = examples/example_cv2_template.txt
outputformat              = text


# General data section. The key values appear in template and are expanded there.
# Note some special formats such as multiline value and list definition format.
[data]

person_name               = Donald Duck
person_address            = Duckstreet 12, Duckburg
person_email              = donald.duck@disney.com
person_phonenumber        = 555 1234

# Multiline value.
person_personalinfo       = I have wide experience for many professions over the years, ranging
    from a cook to an astronaut. It gives me great pleasure to get into a new job and get my
    hands really dirty in a new way.

# First list definition, $listdata[0][0] in template.
person_employment_history = |Waiter?Duckburg Grand Hotel
    |Guard?Uncle Scrooge's Money Bin
    |Astronaut?Duckburg Space Association
    |Janitor?Duckburg Memorial Hospital
    |Fire fighter?The Fire Department
    |Race car driver?The Motor Club|

# Second list definition, $listdata[1][0] in template.
person_education          = |Primary School?Duckburg School
    |Secondary School?Duckburg Secondary Upper
    |Vocational School?Realestate Servicing and Janitoring|

person_hobbies            = Also my hobbies are numerous: My daily routines include
    playing with my nephews or walking with my dog. Gardening is my favourite hobby at home and
    resting on a beach is pleasent, when possible.


